<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Запас продуктов</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/product/listProducts}">Продукты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/deal/listDeals}">Сделки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/reserve/listReserves}">Запас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/report/createReport}">Отчет</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/listUsers}">Пользователи</a>
        </li>
        <div sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Выйти</a>
          </li>
        </div>
        <div sec:authorize="isAnonymous()">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Войти</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
  <div class="container my-2">
    <h1>Запас продуктов</h1>
    <table class="table table-striped table-responsive-md table-bordered mt-3">
      <thead>
      <tr>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Ед.</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="reserve : ${listReserves}">
        <td th:text="${reserve.product.name}"></td>
        <td th:text="${reserve.quantity}"></td>
        <td th:text="${reserve.unit}"></td>
      </tr>
      </tbody>
    </table>

  </div>
</body>
</html>